.navbar-custom {
    height: 80px;
    padding: 0 30px;
}

.bg-card-custom {
    background-color: var(--color-card);
}

.text-primary-custom {
    color: var(--color-primary);
}

.icon-button {
    background-color: var(--color-icon-button) !important;
    border-color: var(--color-icon-button) !important;
    border-radius: 16px;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-icon {
    color: var(--color-icon);
    margin: auto;
}