/* Sidebar.css */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 12px;
    gap: 20px;
    width: 280px;
    height: 100vh;
    background-color: var(--color-primary);
    color: var(--color-card);
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.3s ease;
    overflow-y: auto;
    /* Permite scroll si es necesario */
    overflow-x: hidden;
}

.sidebar.collapsed {
    width: 80px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    transition: margin-left 0.3s ease;
}

.sidebar.collapsed~.main-content {
    margin-left: 80px;
}

/* Sidebar Header */
.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid var(--color-secondary);
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-card);
    border-radius: 8px;
    padding: 5px;
}

.toggle-btn:hover {
    background-color: var(--color-toggle-btn-hover);
}

.sidebar-title {
    font-size: 18px;
    text-align: center;
    flex-grow: 1;
    color: var(--color-card);
}

/* Sidebar Links */
.sidebar-link {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    color: var(--color-card);
    text-decoration: none;
    transition: background-color 0.3s, padding 0.3s;
    border-radius: 16px;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar.collapsed .sidebar-link {
    padding: 16px 12px;
    justify-content: center;
}

.sidebar-link:hover,
.sidebar-link.active {
    background-color: var(--color-card);
    color: var(--color-primary);
}

.sidebar-link span {
    margin-left: 24px;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-link span {
    display: none;
}

/* Responsivo */
@media (max-width: 768px) {
    .sidebar {
        width: 80px;
        overflow-y: auto;
    }

    .sidebar-title {
        display: none;
    }

    .main-content {
        margin-left: 80px;
    }

    .sidebar-link {
        justify-content: center;
        padding: 16px 12px;
    }
}