/* Estilos específicos para la página de inicio de sesión */
.login-card {
    min-width: 400px;
    max-width: 450px;
    min-height: 500px;
    max-height: 100vh;
    padding: 20px;
    border-radius: 16px;
}

.alert {
    background-color: #F06C5D;
    color: #F8F9FA;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 16px;
}

/* Bordes de los inputs y botón mostrar/ocultar */
.form-control,
#paswordField {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-color: var(--primary-custom) !important;
}

#paswordField {
    color: var(--primary-custom);
}

.input-group-text {
    background-color: var(--primary-custom);
    color: var(--secondary-custom);
}

.is-invalid {
    border-color: #dc3545 !important;
}