@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  z-index: 1000;
  background-color: var(--color-success);
  color: var(--color-font-secondary);
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.alert.fade-out {
  animation: fadeOut 0.5s forwards;
}

.alert .icon {
  margin-right: 10px;
}

.alert .message {
  flex-grow: 1;
}

.alert .message-list {
  margin: 0;
  padding-left: 20px;
}

.alert.success {
  background-color: var(--color-success);
  color: var(--color-font-secondary);
}

.alert.error {
  background-color: var(--color-error);
  color: var(--color-font-secondary);
}

.alert.warning {
  background-color: var(--color-warning);
  color: var(--color-font-secondary);
}

.alert.info {
  background-color: var(--color-info);
  color: var(--color-font-secondary);
}

.close-btn {
  background: none;
  border: none;
  color: var(--color-font-secondary);
  cursor: pointer;
}