/* Estilos para el contenedor principal */
.input-file-container {
    width: 100%;
}

.input-file-container label {
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: var(--color-primary);
    margin-bottom: 8px;
    display: block;
}

/* Estilos para el botón de archivo */
.file-btn {
    width: 100%;
    background-color: var(--color-secondary) !important;
    border: 1px solid var(--color-primary);
    border-radius: 16px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-btn:hover {
    background-color: var(--color-secondary) !important;
    opacity: 0.8;
}

.file-btn svg {
    width: 24px;
    height: 24px;
    color: var(--color-primary);
}

.file-btn span {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary);
}

/* Estilos para el archivo seleccionado */
.selected-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    background-color: var(--color-secondary);
    border: 2px dashed var(--color-primary);
    border-radius: 16px;
    padding: 10px 15px;
    box-sizing: border-box;
}

.selected-file img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid var(--color-primary);
}

.selected-file .file-info {
    flex-grow: 1;
    margin-right: 10px;
    overflow: hidden;
}

.selected-file .file-name {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-primary);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-size {
    font-size: 12px;
    color: var(--color-primary-light);
    margin-top: 4px;
}

/* Estilos para el botón de eliminar */
.selected-file button {
    background: none;
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.selected-file button:hover {
    background-color: #F44336;
    color: var(--color-secondary);
    border-radius: 8px;
}

.selected-file button svg {
    width: 20px;
    height: 20px;
}