.input-button-wrapper {
    position: relative;
    display: flex;
    width: 100%;
}

.input-button-wrapper input {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid var(--color-input-border);
    background-color: var(--color-input-background);
    transition: border-color 0.3s;
}

.input-button-wrapper input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.input-button-wrapper .button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 40px;
    height: 100%;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    color: var(--color-font-secondary);
    transition: background-color 0.3s;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.input-button-wrapper .button:hover {
    background-color: var(--color-button-hover);
}