.metric-card {
    background-color: var(--color-chart-card-background);
    border-radius: 1rem;
    box-shadow: 0 4px 8px var(--color-chart-card-shadow);
    padding: 1.5rem;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--color-border);
    height: 100%;
    cursor: pointer;
}

.metric-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px var(--color-chart-card-hover-shadow);
}

.metric-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.metric-card-icon {
    background-color: var(--color-metric-card-icon-background);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metric-card-icon svg {
    color: var(--color-font);
}

.metric-card-title {
    font-size: 0.875rem;
    color: var(--color-metric-card-title);
    margin: 0;
}

.metric-card-value {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-font);
}