/* Estilos base para el select */
.select-wrapper {
    position: relative;
    width: 100%;
}

.select.view-only {
    background-color: var(--color-input-readonly-background);
    cursor: not-allowed;
    opacity: 0.6;
}

.select {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    border: 1px solid var(--color-primary);
    border-radius: 16px;
    background-color: var(--color-secondary);
    color: var(--color-font);
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select:hover {
    border-color: var(--color-primary);
    opacity: 0.9;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-primary);
    font-size: 12px;
}

.select option {
    background-color: var(--color-card);
    color: var(--color-font);
    padding: 8px;
}

.select option:checked {
    background-color: var(--color-primary);
    color: var(--color-font-secondary);
}

.select option:hover {
    background-color: var(--color-table-hover);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .select {
        font-size: 12px;
        padding: 6px 10px;
    }

    .select-wrapper::after {
        font-size: 10px;
    }
}