.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px 0 0 8px;
}

.form-control {
    flex: 1;
    padding-left: 12px;
    padding-right: 40px;
    /* Espacio para el botón de mostrar contraseña */
    border-radius: 0 8px 8px 0;
}

.password-toggle-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}