/* Estilos base de la página */
.profile-page-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-secondary);
}

.profile-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 40px;
}

/* Estilos específicos del perfil */

.common-styles {
    border-radius: 16px !important;
    background-color: var(--color-secondary);
    border-color: var(--color-primary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: var(--color-primary);
}

.submit-button {
    margin-top: 10px;
    background-color: var(--color-primary);
    color: var(--color-font-secondary);
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 14px;
    cursor: pointer;
}

.profile-content {
    flex-grow: 1;
    padding: 0 40px 40px;
}

.profile-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 100%;
    height: 100%;
}

.form-card {
    background: var(--color-card);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-form-group {
    margin-bottom: 20px;
}

.profile-form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--color-primary);
}

.password-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 768px) {
    .profile-form-container {
        grid-template-columns: 1fr;
    }

    .page-header {
        padding: 0 20px;
    }

    .profile-content {
        padding: 0 20px 20px;
    }
}